$background: #E7E7F1;

$prizesShowed: true;
$desc2Showed: true;

$desc1Background: #76c3d7;
$desc1Color: #272727;
$desc1LinksColor: #272727;

$desc2Background: #76c3d7;
$desc2Color: #272727;

$facebookBackground: #66c145;

$uploadButtonBackground: #66c145;

$photosBackground: #eee;
$photosItemBackground: #fff;
$photosColor: #484848;
$photosLikesColor: #004379;
$photosLikesBackground: #66c145;

$uploadPhotoBackground: #0199c0;
$uploadPhotoColor: #fff;

$authMenuBackground: #0199c0;
$authMenuColor: #fff;

$footerBackground: #ff7c00;
$footerColor: #fff;